@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

.container {
	width: 100%;
}
/*=================================
  Header styling starts here
=================================*/
header {
	height: 95px;
	width: 100%;
	display: flex;
}

.bak-one-logo {
	width: 40%;
}

.bak-one-logo a {
	display: flex;
	/*width: 40%;*/
 /* height: auto;*/
}

.bak-one-logo a img {
	width: 63px;
	height: 48px;
	padding: 26px 18px 2px 46px;
}

#heading {
	margin-top: 33px;
}

h1 {
	font-size: 24px;
	color: black;
	/* width: 105px; */
	padding-top: 1px;
	margin-top: -4px;
	margin-bottom: -7px;
	text-transform: uppercase;
}

#heading p {
	color: black;
	text-transform: capitalize;
	padding-top: 2px;
	/* font-stretch: initial; */
	font-size: 16px;
}

/*Navigation styling*/
.nav-bar {
	width: 60%;
}

nav {
	float: right;
	padding: 38px 83px 39px 12px;
}

nav a {
	padding-left: 15px;
	font-size: 18px;
	text-transform: uppercase;
	color: #443f3f;
	/* overflow: auto; */
	/* padding-top: 0px; */
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

nav a:hover {
	background-color: rgb(24, 179, 140);
	color: white;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/


/*front page image*/

.front-image img {
	height: 453px;
	width: 100%;
}

/* portfolio styling */

.portfolio {
	padding-top: 56px;
	padding-bottom: 28px;
}

#portfolio-desc {
	text-align: center;
  padding-top: 18px;
  color: dimgray;
}

.portfolio-nav {
	padding-top: 36px;
  text-align: center;
  text-transform: uppercase;
}

.portfolio-nav li {
	padding-left: 9px;
	padding-right: 9px;
}

.portfolio-nav li a {
	color: white;
	background-color: #1d9e92;
	/* padding: 4px; */
	font-size: 14px;
	font-weight: 600;
	padding: 11px 15px 11px 15px;
}

.portfolio-image {
	width: 227px;
	height: 182px;
	position: relative;
}

.portofilio-option-gallery {
	padding-top: 55px;
}
.portofilio-option-gallery ul {
	width: 100%;
	display: flex;
}
.padding-fix {
	padding-left: 80px;
	padding-bottom: 32px;
}

.portfolio h3 {
	text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: lighter;
  color: #565;
}

.overlay-title {
	color: white;
}

.overlay-text {
	color: white;
}

.container-portfolio {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	text-align: center;
	padding-top: 26px;
	/*transition: .3s ease;*/
	background-color: rgb(24, 179, 140);
	border-radius: 50%;
}

.container-portfolio:hover .overlay {
	opacity: 0.8;
}

.overlay-logo {
	width: 100%;
	height: 10px;
}


.overlay-image {
	height: 45px;
	width: 49px;
	margin: 10px;
	border-radius: 50%;
}
.overlay-text {
	text-transform: capitalize;
	padding-bottom: 3px;
	font-weight: 500;
}

.overlay-title {
	text-transform: capitalize;
	padding-bottom: 10px;
	font-weight: 600;
}

/* about us styling*/

.about {
	background-color: #1d9e92;
	padding-top: 56px;
	padding-bottom: 74px;
	padding-left: 112px;
	padding-right: 77px;
}

.about-us h3 {
	text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: lighter;
	color: white;
	text-transform: capitalize;
}

.about-us p {
	text-align: center;
  padding-top: 18px;
  color: white;
}

.about-us-profile ul {
	width: 100%;
	display: flex;
}

.padding-fix-aboutus {
	width: 290px;
	height: 419px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 44px;
}

.about-us-image {
	width: 290px;
	height: 227px;
}
.bg {
	background-color: white;
	color: dimgray;
	width: 290px;
	height: 187px;
	padding-top: ;
}

.profile-title {
	text-align: center;
	text-transform: capitalize;
	font-size: x-large;
	padding-top: 21px;
}

.profile-text {
	text-align: center;
	text-transform: capitalize;
	font-style: italic;
	font-weight: 500;
	padding-bottom: 21px;
}

.profile-info {
	padding-left: 13px;
  padding-right: 12px;
}
.container-about-us {
	position: relative;
	height: 227px;
}

.overlay-about-us {
	position: absolute;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	text-align: center;
	padding-top: 26px;
	/*transition: .3s ease;*/
}

.container-about-us:hover .overlay-about-us {
	opacity: 0.8;
}

.overlay-social-link {
	width: 237px;
	height: 49px;
	position: relative;
}

/*Contact us styling*/

.contact-us-container {
	padding-top: 52px;
	padding-bottom: 60px;
}

.contact-us-container h3 {
	text-align: center;
	text-transform: capitalize;
	font-size: 35px;
	font-weight: lighter;
	color: dimgray;
	text-transform: capitalize;
}

.contact-us-container p {
	text-align: center;
	padding-top: 18px;
	color: dimgrey;
}

.contact-form{
	padding-left: 50px;
	width: 43%;
}

input[type=text] {
  width: 250px;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
}


input[type=email] {
  width: 250px;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
}

.form-button {
	width: 14%;
	padding-left: 473px;
	padding-top: 15px;
}

.in-flex {
	display: flex;
	padding-top: 50px;
}

h4 {
	font-size: 18px;
	text-transform: uppercase;
	color: dimgray;
	padding-bottom: 8px;
}
.contact-address-text {
	
}
.contact-address-text p {
	padding-top: 4px;
}

.icon::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.location::before {
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f3c5";
}

.phone::before {
	font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f1ea";
}

.fax::before {
	font-family: "Font Awesome 5 Brands"; content: "\f099";
}

.email::before {
	font-family: "Font Awesome 5 Free"; content: "\f3c5";
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  